@model CreateUserViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card">
            <div class="card-body">
                <h1 class="mb-4 card-title">Yeni Şirket Bilgilerini Giriniz.</h1>
                @using (Html.BeginForm(
                actionName: "SaveAdd",
                controllerName: "User",
                routeValues: new { area = "Admin" },
                method: FormMethod.Post,
                antiforgery: false,
                htmlAttributes: new { @class = "" }))
                {
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">İsim Soyisim</label>
                        <div class="col-sm-10">
                            @Html.TextBox("FullName", null, new { @class = "form-control", type = "text", placeholder = "İsim Soyisim giriniz." })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            @Html.TextBox("Email", null, new { @class = "form-control", type = "text", placeholder = "Mail giriniz." })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Name" class="col-sm-2 col-form-label">Parola</label>
                        <div class="col-sm-10">
                            @Html.TextBox("Password", null, new { @class = "form-control", type = "text", placeholder = "Parola giriniz." })
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-lg btn-primary me-2">Kaydet</button>
                            <button type="button" class="btn btn-lg btn-secondary" onclick="history.back();">Geri Dön</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

